.modall__consultation{
    display: none;
}

.fill{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 100;
}

.modall__dialog{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    max-width: 750px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        input{
            color: rgba(0, 0, 0, 0.795);
            width: 33.3%;
            border: none;
            border-bottom: 1px solid $main-color;
            outline: none;
        }

        button{
            border: none;
            padding: 8px 16px;
            color: #fff;
            background: $main-color;
        }
    }
}

.close{
    position: absolute;
    right: 0px;
    top: -20px;
    cursor: pointer;
}

.notefication{
    width: 450px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px #c4c4c4;
    transition: 0.6s ease-in;
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    color: $main-color;
    z-index: 500;
}

.modall__projekts--one{
    display: none;
}

.modall__projekts--two{
    display: none;
}


.modall__projekts--three{
    display: none;
}

.modall__projekts--dialog{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 400px;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    background-color: #fff;
    border-radius: 30px;

    img{
        position: absolute;
        right: 20px;
        top: 25px;
        width: 20px;
        height: auto;
        cursor: pointer;
    }
}